server {

    listen 80;
    server_name larastud.io;

    root /var/www/public;
    index index.php index.html index.htm;

    location ~ \.php$ {
        try_files $uri /index.php =404;
        fastcgi_pass php-upstream;
        fastcgi_index index.php;
        fastcgi_buffers 16 16k;
        fastcgi_buffer_size 32k;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        #fixes timeouts
        fastcgi_read_timeout 600;
        include fastcgi_params;
    }

    location ~ /\.ht {
        deny all;
    }

    location ~ /.well-known {
        allow all;
        root /var/www/public;
    }

    location / {
        rewrite ^ https://$host$request_uri? permanent;
    }
}

server {

    listen [::]:443 ssl ssl http2;
    server_name larastud.io

    server_tokens off;

    ssl_certificate /etc/letsencrypt/live/larastud.io/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/larastud.io/privkey.pem;

    ssl_buffer_size 8k;
    
    root /var/www/public;
    index index.php index.html index.htm;

    location / {
         try_files $uri $uri/ /index.php$is_args$args;
    }

    location ~ \.php$ {
        try_files $uri /index.php =404;
        fastcgi_pass php-upstream;
        fastcgi_index index.php;
        fastcgi_buffers 16 16k;
        fastcgi_buffer_size 32k;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        #fixes timeouts
        fastcgi_read_timeout 600;
        include fastcgi_params;
    }

    location ~ /\.ht {
        deny all;
    }
}
